<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Admin</title>

        <link rel="stylesheet" href="/assets/css/animate.css">
        <link rel="stylesheet" href="/assets/css/admin_view.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">CrossCharge Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hamburgermenu" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="ToggleNavigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="hamburgermenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="">New Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">View Previous</a>
        </li>
      </ul>
    </div>

  </nav>

  <!--Banner Image with text-->

  <div class="hero-image">
    <div class="hero-text">
      <h1>Welcome to crosscharge portal</h1>
      <p>Lorem Ipsum</p>
    </div>
  </div>

<!--Bounce in Add button-->
  <div id="process" class="process section">
    <div class="container_process">
       <div class="row">      
          <div class="process-block col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto">
            <div class="process-inner">
              <div class="icon-holder">
                <img src="/assets/css/img/add.png" height=70px>
              </div>
              <h4 class="heading">New Request</h4>
              <p class="description">Add a new crosscharge entry</p>
              <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
            </div>
          </div>
       </div>
    </div>
  </div>

<div class="container_filter">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <input class="form-control mr-auto" id="myInput" type="text" placeholder="Search..">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 inline-fields" >
        {{!-- Date Range Picker --}}
          <form action="/filter" method="post">
              <label for="EndDate" >From</label> <input id="startDate" name="StartDate" />

              <label for="EndDate" >To</label> <input id="endDate" name="EndDate" />
              <button class="btn btn-success">Get Data</button>
          </form>

        <script>
                var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
                $('#startDate').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    //minDate: today,
                    maxDate: function () {
                        return $('#endDate').val();
                    }
                });
                $('#endDate').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    minDate: function () {
                        return $('#startDate').val();
                    }
                });
        </script>
        {{!-- Date Range Picker end --}}
      </div>
    </div>
</div>

<div class="container_table" style="overflow-x:auto;">
    <!--<input class="form-control mr-auto" id="myInput" type="text" placeholder="Search..">-->
    <br>
    <table id="mytable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead id="headers">
        <tr>
          <th colspan = 8 class = "bill">Bill From</th>
          <th colspan = 18 class = "bill">Bill To</th>
        </tr>
        <tr>
          <th>Transaction ID</th>
          <th>From Cost Center</th>
          <th>From GL Account</th>
          <th>From Company Code</th>
          <th>From Country Code</th>
          <th>From Contact Name</th>
          <th>From Department</th>
          <th>From Location</th>
          <th>BOT ID</th>
          <th>Cost Center</th>
          <th>GL Account</th>
          <th>Company Code</th>
          <th>Country Code</th>
          <th>Currency</th>
          <th>Amount</th>
          <th>Approver Name</th>
          <th>Process name</th>
          <th>UL EL name</th>
          <th>UL EL Email ID</th>
          <th>Area</th>
          <th>Cost Type</th>
          <th>Request Type</th>
          <th>BMC request</th>
          <th>Status</th>
          <th>Raised On</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="myTablebody">
         {{#each results}}
        <tr>
          <td>{{ transaction_id }}</td>
          <td>{{ bill_from_cost_center }}</td>
          <td>{{ bill_from_gl_account }}</td>
          <td>{{ bill_from_company_code }}</td>
          <td>{{ bill_from_country_code }}</td>
          <td>{{ bill_from_contact_name }}</td>
          <td>{{ bill_from_department }}</td>
          <td>{{ bill_from_location }}</td>
          <td>{{ bot_id }}</td>
          <td>{{ bill_to_cost_center }}</td>
          <td>{{ bill_to_gl_account }}</td>
          <td>{{ bill_to_company_code }}</td>
          <td>{{ bill_to_country_code }}</td>
          <td>{{ bill_to_currency }}</td>
          <td>{{ bill_to_amount }}</td>
          <td>{{ bill_to_approver_name }}</td>
          <td>{{ process_name }}</td>
          <td>{{ ul_el_name }}</td>
          <td>{{ ul_el_email_id }}</td>
          <td>{{ area }}</td>
          <td>{{ cost_type }}</td>
          <td>{{ request_type }}</td>
          <td>{{ bmc_request }}</td>
          <td>{{ stat }}</td>
          <td>{{ date_time }}</td>
          <td>
            
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" 
               data-id="{{ transaction_id }}"
               data-bill_from_cost_center="{{ bill_from_cost_center }}"
               data-bill_from_gl_account="{{ bill_from_gl_account }}"
               data-bill_from_company_code="{{ bill_from_company_code }}"
               data-bill_from_country_code="{{ bill_from_country_code }}"
               data-bill_from_contact_name="{{ bill_from_contact_name }}"
               data-bill_from_department="{{ bill_from_department }}"
               data-bill_from_location="{{ bill_from_location }}"
               data-bot_id="{{ bot_id }}"
               data-bill_to_cost_center="{{ bill_to_cost_center }}"
               data-bill_to_gl_account="{{ bill_to_gl_account }}"
               data-bill_to_company_code="{{ bill_to_company_code }}"
               data-bill_to_country_code="{{ bill_to_country_code }}"
               data-bill_to_currency="{{ bill_to_currency }}"
               data-bill_to_amount="{{ bill_to_amount }}"
               data-bill_to_approver_name="{{ bill_to_approver_name }}"
               data-process_name="{{ process_name }}"
               data-ul_el_name="{{ ul_el_name }}"
               data-ul_el_email_id="{{ ul_el_email_id }}"
               data-area="{{ area }}"
               data-cost_type="{{ cost_type }}"
               data-request_type="{{ request_type }}"
               data-bmc_req="{{ bmc_request }}"
               data-stat="{{ stat }}"
               >Edit</a>
            
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ transaction_id }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <!--search script-->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTablebody tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<!--Export as Excel button-->
<form action="/export" method="post">
  <button type="submit" class="btn btn-primary export">Export</button>
</form>

<!-- Modal Add Request-->
      <form action="/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Request</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <label for="bot_id">BOT ID</label>
                   <input type="text" name="bot_id" id="bot_id" class="form-control" placeholder="Bot Id" required>
               </div>
 
               <div class="form-group">
                   <label for="bill_to_cost_center">Cost Center</label>                
                   <input type="text" name="bill_to_cost_center" id="bill_to_cost_center" class="form-control" placeholder="Cost Center" required>
               </div>

               <div class="form-group">
                   <label for="bill_to_gl_account">GL Account</label>
                   <input type="text" name="bill_to_gl_account" id="bill_to_gl_account" class="form-control" placeholder="GL Account" required>
               </div>

               <div class="form-group">
                   <label for="bill_to_company_code">Company Code</label>
                   <input type="text" name="bill_to_company_code" id="bill_to_company_code" class="form-control" placeholder="Company Code" required>
               </div>

               <div class="form-group">
                   <label for="bill_to_country_code">Country Code</label>
                   <input type="text" name="bill_to_country_code" id="bill_to_country_code" class="form-control" placeholder="Country Code" required>
               </div>

               <div class="form-group">
                   <label for="bill_to_currency">Currency</label>
                   <input type="text" name="bill_to_currency" id="bill_to_currency" class="form-control" placeholder="Currency" required>
               </div>

               <div class="form-group">
                   <label for="bill_to_amount">Amount</label>
                   <input type="text" name="bill_to_amount" id="bill_to_amount" class="form-control" placeholder="Amount" required>
               </div>

               <div class="form-group">
                   <label for="bill_to_approver_name">Approver Name</label>
                   <input type="text" name="bill_to_approver_name" id="bill_to_approver_name" class="form-control" placeholder="Approver Name" required>
               </div>

               <div class="form-group">
                   <label for="process_name">Process Name</label>
                   <input type="text" name="process_name" id="process_name" class="form-control" placeholder="Process Name" required>
               </div>

               <div class="form-group">
                   <label for="ul_el_email_id">EL Name</label>
                   <input type="text" name="ul_el_name" id="ul_el_name" class="form-control" placeholder="EL Name" required>
               </div>
               
               <div class="form-group">
                   <label for="ul_el_email_id">EL Email ID</label>
                   <input type="text" name="ul_el_email_id" id="ul_el_email_id" class="form-control" placeholder="EL Email ID" required>
               </div>

               <div class="form-group">
                   <label for="area">Area</label>
                   <input type="text" name="area" id="area" class="form-control" placeholder="Area" required>
               </div>

               <div class="form-group">
                   <label for="cost_type">Cost Type:</label>
                   <select class = "form-control selectPicker" name="selectPicker" id="cost_type">
                     <option selected>Build Cost</option>
                     <option>Run Cost</option>
                   </select>
               </div>

               <div class="form-group">
                   <label for="request_type">Request Type:</label>
                   <select class = "form-control selectPicker2" name="selectPicker2" id="request_type">
                     <option selected>Crosscharge</option>
                     <option>Reclass</option>
                   </select>
               </div>

             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
     </form>

<!-- Modal Update Request-->
   <form action="/update" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Request</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                   <label for="from_cost_center">Bill From: Cost Center</label>
                   <input type="text" name="bill_from_cost_center" id="from_cost_center" class="form-control" required>
               </div>
              <div class="form-group">
                   <label for="bill_from_gl_account">Bill From: GL Account</label>
                   <input type="text" name="bill_from_gl_account" id="from_gl_account" class="form-control" required>
               </div>
              <div class="form-group">
                   <label for="bill_from_company_code">Bill From: Company Code</label>
                   <input type="text" name="bill_from_company_code" id="from_company_code" class="form-control" required>
               </div>
              <div class="form-group">
                   <label for="bill_from_country_code">Bill From: Country Code</label>
                   <input type="text" name="bill_from_country_code" id="from_country_code" class="form-control" required>
               </div>
              <div class="form-group">
                   <label for="bill_from_contact_name">Bill From: Contact Name</label>
                   <input type="text" name="bill_from_contact_name" id="from_contact_name" class="form-control" required>
               </div>
              <div class="form-group">
                   <label for="bill_from_department">Bill From: Department</label>
                   <input type="text" name="bill_from_department" id="from_department" class="form-control" required>
               </div>
              <div class="form-group">
                   <label for="bill_from_location">Bill From: Location</label>
                   <input type="text" name="bill_from_location" id="from_location" class="form-control" required>
               </div>
              <div class="form-group">
                   <label for="bot_id">BOT ID</label>
                   <input type="text" name="bot_id" id="botid" class="form-control" required>
               </div>
 
               <div class="form-group">
                   <label for="bill_to_cost_center">Cost Center</label>                
                   <input type="text" name="bill_to_cost_center" id="costcenter" class="form-control"  required>
               </div>

               <div class="form-group">
                   <label for="bill_to_gl_account">GL Account</label>
                   <input type="text" name="bill_to_gl_account" id="glaccount" class="form-control" placeholder="GL Account" required>
               </div>

               <div class="form-group">
                   <label for="bill_to_company_code">Company Code</label>
                   <input type="text" name="bill_to_company_code" id="companycode" class="form-control" placeholder="Company Code" required>
               </div>

               <div class="form-group">
                   <label for="bill_to_country_code">Country Code</label>
                   <input type="text" name="bill_to_country_code" id="countrycode" class="form-control" placeholder="Country Code" required>
               </div>

               <div class="form-group">
                   <label for="bill_to_currency">Currency</label>
                   <input type="text" name="bill_to_currency" id="currency" class="form-control" placeholder="Currency" required>
               </div>

               <div class="form-group">
                   <label for="bill_to_amount">Amount</label>
                   <input type="text" name="bill_to_amount" id="amount" class="form-control" placeholder="Amount" required>
               </div>

               <div class="form-group">
                   <label for="bill_to_approver_name">Approver Name</label>
                   <input type="text" name="bill_to_approver_name" id="approvername" class="form-control" placeholder="Approver Name" required>
               </div>

               <div class="form-group">
                   <label for="process_name">Process Name</label>
                   <input type="text" name="process_name" id="processname" class="form-control" placeholder="Process Name" required>
               </div>

               <div class="form-group">
                   <label for="ul_el_email_id">EL Name</label>
                   <input type="text" name="ul_el_name" id="elname" class="form-control" placeholder="EL Name" required>
               </div>
               
               <div class="form-group">
                   <label for="ul_el_email_id">EL Email ID</label>
                   <input type="text" name="ul_el_email_id" id="elemailid" class="form-control" placeholder="EL Email ID" required>
               </div>

               <div class="form-group">
                   <label for="area">Area</label>
                   <input type="text" name="area" id="Area" class="form-control" placeholder="Area" required>
               </div>

               <div class="form-group">
                   <label for="cost_type">Cost Type:</label>
                   <select class = "form-control selectPicker" name="selectPicker" id="costtype">
                     <option>Build Cost</option>
                     <option>Run Cost</option>
                   </select>
               </div>

               <div class="form-group">
                   <label for="request_type">Request Type:</label>
                   <select class = "form-control selectPicker2" name="selectPicker2" id="requesttype">
                     <option>Crosscharge</option>
                     <option>Reclass</option>
                   </select>
               </div>

               <div class="form-group">
                   <label for="bmcrequest">BMC Request</label>
                   <input type="text" name="bmcrequest" id="bmc" class="form-control" placeholder="BMC Request" required>
               </div>
               
               <div class="form-group">
                   <label for="stat">Status</label>
                   <select class = "form-control selectPicker2" name="stat" id="Stat">
                     <option>Approved</option>
                     <option>Rejected</option>
                     <option>In Process</option>
                   </select>
               </div>
               
              
             </div>
            <div class="modal-footer">
              <input type="hidden" name="transaction_id" class="form-control transaction_id2">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>

<!-- Modal Delete Request-->
      <form id="add-row-form" action="/delete" method="post">
         <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Delete Product</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                                                 <strong>Are you sure to delete this data?</strong>
                   </div>
                   <div class="modal-footer">
                        <input type="hidden" name="transaction_id" class="form-control transaction_id" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                    </div>
            </div>
         </div>
     </form>

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
        //showing data to edit modal      
        var transaction_id = $(this).data('id');
        var bot_id = $(this).data('bot_id');
        var bill_from_cost_center = $(this).data('bill_from_cost_center');
        var bill_from_gl_account = $(this).data('bill_from_gl_account');
        var bill_from_company_code = $(this).data('bill_from_company_code');
        var bill_from_country_code = $(this).data('bill_from_country_code');
        var bill_from_contact_name = $(this).data('bill_from_contact_name');
        var bill_from_department = $(this).data('bill_from_department');
        var bill_from_location = $(this).data('bill_from_location');
        var bill_to_cost_center = $(this).data('bill_to_cost_center');
        var bill_to_gl_account = $(this).data('bill_to_gl_account');
        var bill_to_company_code = $(this).data('bill_to_company_code');
        var bill_to_country_code = $(this).data('bill_to_country_code');
        var bill_to_currency = $(this).data('bill_to_currency');
        var bill_to_amount = $(this).data('bill_to_amount');
        var bill_to_approver_name = $(this).data('bill_to_approver_name');
        var process_name = $(this).data('process_name');
        var ul_el_name = $(this).data('ul_el_name');
        var ul_el_email_id = $(this).data('ul_el_email_id');
        var area = $(this).data('area');
        var cost_type = $(this).data('cost_type');
        var request_type = $(this).data('request_type');
        var bmc_request = $(this).data('bmc_request');
        var stat = $(this).data('stat');
        var date_time = $(this).data('date_time');

        $('.transaction_id').val(transaction_id);
        $('.bot_id').val(bot_id);
        $('.bill_from_cost_center').val(bill_from_cost_center);
        $('.bill_from_gl_account').val(bill_from_gl_account);
        $('.bill_from_company_code').val(bill_from_company_code);
        $('.bill_from_country_code').val(bill_from_country_code);
        $('.bill_from_contact_name').val(bill_from_contact_name);
        $('.bill_from_department').val(bill_from_department);
        $('.bill_from_location').val(bill_from_location);
        $('.bill_to_cost_center').val(bill_to_cost_center);
        $('.bill_to_gl_account').val(bill_to_gl_account);
        $('.bill_to_company_code').val(bill_to_company_code);
        $('.bill_to_country_code').val(bill_to_country_code);
        $('.bill_to_currency').val(bill_to_currency);
        $('.bill_to_amount').val(bill_to_amount);
        $('.bill_to_approver_name').val(bill_to_approver_name);
        $('.process_name').val(process_name);
        $('.ul_el_name').val(ul_el_name);
        $('.ul_el_email_id').val(ul_el_email_id);
        $('.area').val(area);
        $('.cost_type').val(cost_type);
        $('.request_type').val(request_type);
        $('.bmc_request').val(bmc_request);
        $('.stat').val(stat);
        $('.date_time').val(date_time);
      });


        //showing edit modal
        
        $('#mytable').on('click','.edit',function(){
          var transaction_id = $(this).data('id');
          $('#EditModal').modal('show');
          $('.transaction_id').val(transaction_id);
          document.getElementById('from_cost_center').value=$(this).data('bill_from_cost_center');
          document.getElementById('from_gl_account').value=$(this).data('bill_from_gl_account');
          document.getElementById('from_company_code').value=$(this).data('bill_from_company_code');
          document.getElementById('from_country_code').value=$(this).data('bill_from_country_code');
          document.getElementById('from_contact_name').value=$(this).data('bill_from_contact_name');
          document.getElementById('from_department').value=$(this).data('bill_from_department');
          document.getElementById('from_location').value=$(this).data('bill_from_location');
          document.getElementById('botid').value=$(this).data('bot_id');
          document.getElementById('costcenter').value = $(this).data('bill_to_cost_center');
          document.getElementById('glaccount').value = $(this).data('bill_to_gl_account');
          document.getElementById('companycode').value = $(this).data('bill_to_company_code');
          document.getElementById('countrycode').value = $(this).data('bill_to_country_code');
          document.getElementById('currency').value = $(this).data('bill_to_currency');
          document.getElementById('amount').value = $(this).data('bill_to_amount');
          document.getElementById('approvername').value = $(this).data('bill_to_approver_name');
          document.getElementById('processname').value = $(this).data('process_name');
          document.getElementById('elname').value = $(this).data('ul_el_name');
          document.getElementById('elemailid').value = $(this).data('ul_el_email_id');
          document.getElementById('Area').value = $(this).data('area');
          var c = document.getElementById('costtype');//doubt
          var strcosttype = c.options[c.selectedIndex].text;//doubt
          document.getElementById('requesttype');//doubt
          document.getElementById('bmcrequest').value = $(this).data('bmc_request');
          document.getElementById('Stat').value = $(this).data('stat');//doubt
        });

        //showing delete record modal
        $('#mytable').on('click','.delete',function(){
          var transaction_id = $(this).data('id');
          $('#DeleteModal').modal('show');
          $('.transaction_id2').val(transaction_id);
      });    
</script>
</body>
</html>